@charset "UTF-8";

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #001027;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 96.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3 {
  font-family: HelveticaNeue;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  color: #22272E;
  line-height: 1.2;
}

h2 {
  color: #9F2727;
  line-height: 1.2037037037;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

h2::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-top: 0.1875rem solid #E0B069;
  border-right: 0.1875rem solid #E0B069;
  min-width: 1.875rem;
}

h2._white {
  color: #fff;
}

h2._white::after {
  display: none;
}

h3,
h3 > a {
  text-decoration: none;
  line-height: 1.1944444444;
  color: #9F2727;
  margin-bottom: 1.25rem;
}

p,
b,
a {
  line-height: 145.19%;
}

a {
  color: #9F2727;
  text-decoration: underline;
}

p {
  font-weight: 400;
}

p:not(:last-child) {
  margin-bottom: 1.875rem;
}

input,
textarea {
  padding: 1.5625rem 1.375rem;
  font-weight: 400;
  line-height: 145%;
  background: #FFFFFF;
  border: 0.0625rem solid #D9D9D9;
  width: 100%;
}

input:not(:last-child),
textarea:not(:last-child) {
  margin-bottom: 1.875rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #878787;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #878787;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #878787;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #878787;
}

input::placeholder,
textarea::placeholder {
  color: #878787;
}

textarea {
  resize: none;
}

._button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #9F2727;
  background-color: #E0B069;
  padding: 1.125rem 1.5625rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.15;
  font-variant: all-small-caps;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

ul li {
  line-height: 206%;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #9F2727;
}

._row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

i {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.social i {
  width: 2.4375rem;
  height: 2.5rem;
}

i._telegram {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2739%27 height=%2740%27 fill=%27none%27 viewBox=%270 0 39 40%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Cpath fill=%27%239F2727%27 d=%27M19.5.625C8.73.625 0 9.299 0 20c0 10.7 8.73 19.375 19.5 19.375S39 30.701 39 20C39 9.3 30.27.625 19.5.625Zm9.039 13.177c-.294 3.063-1.564 10.498-2.21 13.93-.273 1.451-.812 1.938-1.332 1.986-1.133.103-1.993-.744-3.09-1.458-1.716-1.118-2.685-1.814-4.351-2.905-1.926-1.26-.678-1.953.42-3.086.287-.296 5.276-4.805 5.373-5.214.012-.051.023-.242-.091-.343-.114-.1-.282-.066-.404-.039-.172.04-2.914 1.84-8.225 5.402-.778.53-1.483.79-2.115.776-.696-.015-2.035-.391-3.03-.713-1.222-.394-2.193-.603-2.108-1.273.044-.348.527-.705 1.45-1.07 5.685-2.46 9.476-4.083 11.372-4.867 5.416-2.238 6.541-2.627 7.275-2.64.16-.002.522.037.755.226a.815.815 0 0 1 .278.524c.04.253.05.509.033.764Z%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h39v40H0z%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

i._whatsapp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2739%27 height=%2742%27 fill=%27none%27 viewBox=%270 0 39 42%27%3E%3Cpath fill=%27%23920E00%27 d=%27M33.159 6.724C29.51 2.95 24.654.875 19.49.875 8.836.875.165 9.823.165 20.82c0 3.513.888 6.945 2.577 9.973L0 41.125l10.246-2.776a18.796 18.796 0 0 0 9.237 2.426h.008C30.138 40.775 39 31.826 39 20.829c0-5.327-2.194-10.332-5.841-14.105ZM19.49 37.414c-2.89 0-5.72-.8-8.183-2.309l-.583-.359-6.076 1.644 1.619-6.118-.383-.629A16.916 16.916 0 0 1 3.43 20.82c0-9.137 7.208-16.576 16.07-16.576 4.292 0 8.322 1.725 11.352 4.86 3.03 3.136 4.892 7.296 4.884 11.725 0 9.146-7.391 16.585-16.245 16.585Zm8.81-12.416c-.479-.252-2.855-1.455-3.3-1.617-.443-.17-.765-.252-1.087.251-.323.503-1.245 1.618-1.533 1.959-.278.332-.565.377-1.044.126-2.838-1.465-4.701-2.615-6.573-5.93-.496-.88.497-.817 1.42-2.722.156-.333.078-.62-.044-.872-.122-.251-1.088-2.704-1.489-3.701-.392-.97-.792-.836-1.088-.854-.279-.018-.6-.018-.923-.018-.322 0-.844.126-1.288.62-.444.503-1.689 1.707-1.689 4.16 0 2.453 1.732 4.825 1.967 5.157.244.333 3.404 5.364 8.253 7.529 3.064 1.366 4.266 1.482 5.798 1.249.931-.144 2.855-1.204 3.256-2.372.4-1.168.4-2.165.278-2.372-.113-.225-.435-.35-.914-.593Z%27/%3E%3C/svg%3E%0A");
}

i._linkedin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2739%27 height=%2741%27 fill=%27none%27 viewBox=%270 0 39 41%27%3E%3Cpath fill=%27%239F2727%27 d=%27M36.214.813H2.777C1.245.813 0 2.087 0 3.65v33.7c0 1.564 1.245 2.839 2.777 2.839h33.437c1.532 0 2.786-1.275 2.786-2.84V3.652C39 2.087 37.746.813 36.214.813Zm-24.427 33.75h-5.78V15.77h5.789v18.791h-.009Zm-2.89-21.358c-1.854 0-3.352-1.52-3.352-3.384 0-1.863 1.498-3.383 3.352-3.383 1.845 0 3.351 1.52 3.351 3.383 0 1.872-1.497 3.384-3.351 3.384Zm24.558 21.358h-5.78v-9.141c0-2.18-.044-4.983-3.004-4.983-3.012 0-3.473 2.372-3.473 4.825v9.299h-5.78V15.77h5.544v2.567h.079c.775-1.477 2.664-3.032 5.476-3.032 5.85 0 6.938 3.893 6.938 8.956v10.3Z%27/%3E%3C/svg%3E%0A");
}

._border {
  position: relative;
  height: 100%;
  gap: 0.625rem;
}

._border::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.0625rem;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #D9D9D9;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.pagination a {
  line-height: 145%;
}

.pagination a.current {
  color: #000;
  text-decoration: none;
}

.logo--transparent {
  height: auto;
}

address {
  color: #000;
  line-height: 150%;
  text-decoration: none;
  font-style: normal;
}

dl {
  border: 0.1875rem solid #D9D9D9;
  padding-right: 1.5625rem;
  padding-bottom: 3.75rem;
}

dt {
  font-weight: 300;
  line-height: 1.1944444444;
  text-transform: uppercase;
  color: #9F2727;
  font-family: HelveticaNeue;
  margin-bottom: 1.25rem;
}

dd {
  line-height: 145%;
  color: #001027;
  font-weight: 400;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header a {
  text-align: right;
}

.header__phone {
  display: block;
  font-weight: 700;
}

.header__email {
  display: block;
  text-decoration: underline;
}

.header__social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.menu ul li {
  text-align: right;
}

.menu ul li::before {
  display: none;
}

.menu a {
  color: #000;
  line-height: 150%;
  text-decoration: none;
}

.menu address {
  text-align: right;
}

.menu__body {
  overflow-y: scroll;
  width: 40vw;
  right: -200%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  height: 100vh;
  padding-right: calc((100vw - 96.25rem) / 2);
  padding-left: 2.8125rem;
  padding-bottom: 1.875rem;
  background-color: #fff;
  z-index: 2;
  top: 0;
}

.menu-open .menu__body {
  right: 0;
}

.menu__overlay {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.menu-open .menu__overlay {
  visibility: visible;
  pointer-events: all;
}

.icon-menu {
  display: block;
  position: relative;
  width: 2.625rem;
  height: 2.25rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  border-radius: 0.1875rem;
  width: 100%;
  height: 0.375rem;
  background-color: #9F2727;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.1875rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.1875rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.1875rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  border-top: 0.125rem solid #9F2727;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__left {
  max-width: 41.8125rem;
  width: 100%;
}

.footer__copy {
  color: #A8A8A8;
  line-height: 145.19%;
  font-weight: 400;
  display: block;
  padding-top: 2.5rem;
  border-top: 0.0625rem solid #D9D9D9;
}

.footer .contacts__info {
  max-width: 100%;
}

.footer__articles {
  max-width: 34.375rem;
  width: 100%;
}

.footer__articles h3 {
  font-size: 2.5rem;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 2.8125rem;
}

.footer__articles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.footer__articles li {
  position: relative;
  line-height: 145%;
}

.footer__articles li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 9.6875rem;
  height: 0.0625rem;
  bottom: -0.9375rem;
  left: 0;
  background-color: #D9D9D9;
}

.footer__articles li::before {
  display: none;
}

.footer__articles a {
  color: #001027;
  text-decoration: none;
  line-height: 145%;
}

.intro {
  height: 100vh;
  background-color: #F2F2F2;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info {
  width: 100%;
}

.about__info {
  -webkit-columns: 3 24.375rem;
     -moz-columns: 3 24.375rem;
          columns: 3 24.375rem;
  -webkit-column-rule: 0.0625rem solid #D9D9D9;
     -moz-column-rule: 0.0625rem solid #D9D9D9;
          column-rule: 0.0625rem solid #D9D9D9;
}

.about p {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 38.75rem;
  width: 100%;
}

.partners__item strong {
  font-family: HelveticaNeue;
  font-weight: 300;
  line-height: 1.1944444444;
  margin: 2.6875rem 0 1.1875rem;
  display: inline-block;
}

.partners__item p {
  margin-bottom: 1.5625rem;
}

.partners__img {
  max-width: 17.5rem;
  width: 100%;
}

.partners__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -0.5rem;
     object-position: 0 -0.5rem;
}

.partners__info {
  width: 16.5625rem;
}

.ranked {
  background: -webkit-gradient(linear, left top, right top, from(#920E00), to(#640000));
  background: -o-linear-gradient(left, #920E00 0%, #640000 100%);
  background: linear-gradient(90deg, #920E00 0%, #640000 100%);
  padding: 4.0625rem 0;
}

.ranked h2 {
  margin: 0;
}

.ranked__img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.ranked__decor {
  height: 9.0625rem;
  width: 0.1875rem;
  background-color: #E0B069;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  border: 0.1875rem solid #D9D9D9;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5.375rem 4.6875rem 5.75rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.artice-path {
  background-color: #FAFAFA;
}

.artice-path__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
}

.artice-path a {
  line-height: 145%;
  font-weight: 400;
  color: #000000;
  text-decoration: underline;
}

.artice-path a:not(:last-child) {
  position: relative;
}

.artice-path a:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -1.5625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article__top-image {
  width: 100%;
  height: 100%;
}

.article__top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.articles-list__item {
  width: 100%;
  margin-bottom: 3.75rem;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.75rem;
}

.contacts__form {
  max-width: 31.25rem;
  width: 100%;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
  max-width: 29.6875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contacts__info a {
  display: block;
  color: #000;
}

.contacts__info .contacts__phone {
  font-weight: 700;
}

.contacts__info .social {
  margin-top: 2.1875rem;
}

.expertise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expertise__column {
  width: calc(33.333% - 0.8333125rem);
  gap: 1.25rem;
}


@media (max-height: 50em) {
  .intro {
    height: auto;
    padding-bottom: 30px;
  }
}


@media (min-width: 29.99875em) {
  .footer__copy br {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .services__mobile {
    display: none;
  }
}

@media (min-width: 96.25em) {
  .intro__info {
    margin-top: 6.25rem;
  }

  .intro__img {
    margin-right: 10.375rem;
  }

  .about__info {
    gap: 9.375rem;
  }

  .ranked__items {
    gap: 6.25rem;
  }

  .ranked__items {
    margin-right: 4.6875rem;
  }

  .ranked__img:first-child {
    width: 12.75rem;
  }

  .ranked__img:last-child {
    width: 21.8125rem;
  }

  .services__items {
    gap: 5.625rem;
  }
}

@media (min-width: 100em) {
  h1 {
    font-size: 5rem;
  }

  h1 {
    margin-bottom: 5.125rem;
  }

  h2 {
    font-size: 3.375rem;
  }

  h2 {
    margin-bottom: 5rem;
  }

  h2::after {
    margin-top: 1.75rem;
  }

  h2::after {
    margin-left: 1.875rem;
  }

  h2::after {
    height: 1.875rem;
  }

  h3,
  h3 > a {
    font-size: 2.25rem;
  }

  p,
  b,
  a {
    font-size: 1.25rem;
  }

  input,
  textarea {
    font-size: 1.25rem;
  }

  ._page-section {
    margin-bottom: 9.375rem;
  }

  ul li {
    font-size: 1.5rem;
  }

  ul li::before {
    margin-right: 1.875rem;
  }

  .pagination a {
    font-size: 2.25rem;
  }

  .logo--transparent {
    width: 8.6875rem;
  }

  dl {
    padding-top: 5.125rem;
  }

  dl {
    padding-left: 2.0625rem;
  }

  dt {
    font-size: 2.25rem;
  }

  dd {
    font-size: 1.25rem;
  }

  .header__logo {
    width: 10rem;
  }

  .header__logo {
    height: 12.8125rem;
  }

  .header__phone {
    margin-top: 2.8125rem;
  }

  .header__social {
    margin-top: 7.5rem;
  }

  .menu ul {
    margin-bottom: 6.25rem;
  }

  .menu a {
    font-size: 2.25rem;
  }

  .menu address {
    font-size: 2.25rem;
  }

  .menu__body {
    padding-top: 13.75rem;
  }

  .footer {
    padding-top: 3.75rem;
  }

  .footer {
    padding-bottom: 10.625rem;
  }

  .footer__copy {
    font-size: 1.25rem;
  }

  .footer__copy {
    margin-top: 6.875rem;
  }

  .intro {
    padding-top: 18.75rem;
  }

  .intro__info {
    max-width: 34.375rem;
  }

  .intro__img {
    width: 32.625rem;
  }

  .intro__img {
    height: 32.625rem;
  }

  .partners__item {
    -webkit-column-gap: 4.6875rem;
       -moz-column-gap: 4.6875rem;
            column-gap: 4.6875rem;
  }

  .partners__item strong {
    font-size: 2.25rem;
  }

  .artice-path {
    padding-top: 1.875rem;
  }

  .artice-path {
    padding-bottom: 1.875rem;
  }

  .artice-path {
    margin-bottom: 3.75rem;
  }

  .artice-path a {
    font-size: 1.25rem;
  }

  .article__top-image {
    max-height: 24.25rem;
  }

  .article__top-image {
    margin-bottom: 8.3125rem;
  }

  .article p:last-child {
    margin-bottom: 7.8125rem;
  }

  .contacts__info address {
    font-size: 1.25rem;
  }

  .contacts__info address {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 62em) {
  .intro__info {
    margin-top: 0.0000000625rem;
  }

  .intro__img {
    margin-right: 0.0000000625rem;
  }

  .about__info {
    gap: 2.5rem;
  }

  .ranked__items {
    gap: 1.25rem;
  }

  .ranked__items {
    margin-right: 0.0000000625rem;
  }

  .ranked__img:first-child {
    width: 10.5625rem;
  }

  .ranked__img:last-child {
    width: 15.3125rem;
  }

  .services__items {
    gap: 1.25rem;
  }
}

@media (max-width: 96.25em) {
  .menu__body {
    padding-right: 1.875rem;
  }
}

@media (max-width: 96.25em) and (max-width: 24.5625em) {
  .menu__body {
    width: 17.125rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__wrapper{
    flex-direction:column;
  }

  .intro__info {
    max-width: 100%;
  }

  .intro__info h1 {
    max-width: 25rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__container {
    justify-content: center;
  }

  .intro__info ._button {
    margin: 0 auto;
  }

  .intro__img {
    margin: 4.625rem auto 0;
  }

  .about__info {
    gap: 2.5rem;
  }

  .ranked h2 {
    text-align: center;
    margin-bottom: 4.5rem;
    display: block;
  }

  .ranked__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ranked__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.75rem;
  }

  .ranked__decor {
    width: 100%;
    height: 0.1875rem;
  }

  .services__items {
    display: none;
  }

  .expertise__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .expertise__column {
    width: 100%;
  }
}

@media (max-width: 61.99875em) and (max-width: 24.5625em) {
  .ranked__img:first-child {
    width: 10.5625rem;
  }

  .ranked__img:last-child {
    width: 15.3125rem;
  }
}

@media (max-width: 47.99875em) {
  .contacts__form {
    max-width: 100%;
  }

  .contacts .contacts__info {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  h3,
  h3 > a {
    margin-bottom: 2.1875rem;
  }

  .footer__copy {
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    padding: 2.5rem 1.875rem 0;
  }

  .partners__item strong {
    margin: 2.6875rem 0 0.75rem;
  }

  .partners__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .partners__img {
    max-width: 100%;
    width: 100%;
    height: calc(100vw - 3.75rem);
    min-height: 20.8125rem;
  }

  .partners__img img {
    height: 100%;
    -o-object-position: 0 -2.5rem;
       object-position: 0 -2.5rem;
  }

  .partners__info {
    width: 100%;
  }

  .ranked h2 {
    max-width: 16.875rem;
  }

  .article__top-image img {
    margin-left: -1.875rem;
    width: calc(100% + 3.75rem);
  }
}

@media (max-width: 24.5625em) {
  h1 {
    font-size: 2.5rem;
  }

  h1 {
    margin-bottom: 3.4375rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  h2::after {
    margin-top: 0.875rem;
  }

  h2::after {
    margin-left: 1.25rem;
  }

  h2::after {
    height: 0.9375rem;
  }

  h3,
  h3 > a {
    font-size: 1.5rem;
  }

  p,
  b,
  a {
    font-size: 1rem;
  }

  input,
  textarea {
    font-size: 1rem;
  }

  ._page-section {
    margin-bottom: 5rem;
  }

  ul li {
    font-size: 1.125rem;
  }

  ul li::before {
    margin-right: 1.0625rem;
  }

  .pagination a {
    font-size: 1.5rem;
  }

  .logo--transparent {
    width: 5rem;
  }

  dl {
    padding-top: 3.0625rem;
  }

  dl {
    padding-left: 1.5625rem;
  }

  dt {
    font-size: 1.5rem;
  }

  dd {
    font-size: 1rem;
  }

  .header__logo {
    width: 5.0625rem;
  }

  .header__logo {
    height: 6.5rem;
  }

  .header__phone {
    margin-top: 1.875rem;
  }

  .header__social {
    margin-top: 5rem;
  }

  .menu ul {
    margin-bottom: 3.75rem;
  }

  .menu a {
    font-size: 1.125rem;
  }

  .menu address {
    font-size: 1.125rem;
  }

  .menu__body {
    padding-top: 7.8125rem;
  }

  .footer {
    padding-top: 5rem;
  }

  .footer {
    padding-bottom: 5.9375rem;
  }

  .footer__copy {
    font-size: 1rem;
  }

  .footer__copy {
    margin-top: 3.375rem;
  }

  .intro {
    padding-top: 11.125rem;
  }

  .intro__info {
    max-width: 20.625rem;
  }

  .intro__img {
    width: 17.125rem;
  }

  .intro__img {
    height: 17.125rem;
  }

  .partners__item {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .partners__item strong {
    font-size: 1.875rem;
  }

  .artice-path {
    padding-top: 1.25rem;
  }

  .artice-path {
    padding-bottom: 1.5625rem;
  }

  .artice-path {
    margin-bottom: 3.125rem;
  }

  .artice-path a {
    font-size: 1.125rem;
  }

  .article__top-image {
    max-height: 15.25rem;
  }

  .article__top-image {
    margin-bottom: 4.125rem;
  }

  .article p:last-child {
    margin-bottom: 6.5625rem;
  }

  .contacts__info address {
    font-size: 1.125rem;
  }

  .contacts__info address {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 24.5625em) and (max-width: 100em) {
@supports (font-size: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem )) {
    h1 {
      font-size: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem )) {
    h1 {
      font-size: calc(2.5rem + 2.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 3.4375rem , 2.8880488815rem  +  2.2369511185vw , 5.125rem )) {
    h1 {
      margin-bottom: clamp( 3.4375rem , 2.8880488815rem  +  2.2369511185vw , 5.125rem );
    }
}

@supports not (margin-bottom: clamp( 3.4375rem , 2.8880488815rem  +  2.2369511185vw , 5.125rem )) {
    h1 {
      margin-bottom: calc(3.4375rem + 1.6875 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 2.25rem , 1.8836992543rem  +  1.4913007457vw , 3.375rem )) {
    h2 {
      font-size: clamp( 2.25rem , 1.8836992543rem  +  1.4913007457vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8836992543rem  +  1.4913007457vw , 3.375rem )) {
    h2 {
      font-size: calc(2.25rem + 1.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem )) {
    h2 {
      margin-bottom: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.685998343rem  +  3.314001657vw , 5rem )) {
    h2 {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-top: clamp( 0.875rem , 0.59009942rem  +  1.15990058vw , 1.75rem )) {
    h2::after {
      margin-top: clamp( 0.875rem , 0.59009942rem  +  1.15990058vw , 1.75rem );
    }
}

@supports not (margin-top: clamp( 0.875rem , 0.59009942rem  +  1.15990058vw , 1.75rem )) {
    h2::after {
      margin-top: calc(0.875rem + 0.875 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-left: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem )) {
    h2::after {
      margin-left: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem )) {
    h2::after {
      margin-left: calc(1.25rem + 0.625 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (height: clamp( 0.9375rem , 0.6322493786rem  +  1.2427506214vw , 1.875rem )) {
    h2::after {
      height: clamp( 0.9375rem , 0.6322493786rem  +  1.2427506214vw , 1.875rem );
    }
}

@supports not (height: clamp( 0.9375rem , 0.6322493786rem  +  1.2427506214vw , 1.875rem )) {
    h2::after {
      height: calc(0.9375rem + 0.9375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    h3,
    h3 > a {
      font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    h3,
    h3 > a {
      font-size: calc(1.5rem + 0.75 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    p,
    b,
    a {
      font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    p,
    b,
    a {
      font-size: calc(1rem + 0.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    input,
    textarea {
      font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    input,
    textarea {
      font-size: calc(1rem + 0.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 5rem , 3.5754971002rem  +  5.7995028998vw , 9.375rem )) {
    ._page-section {
      margin-bottom: clamp( 5rem , 3.5754971002rem  +  5.7995028998vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 3.5754971002rem  +  5.7995028998vw , 9.375rem )) {
    ._page-section {
      margin-bottom: calc(5rem + 4.375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0028997514rem  +  0.4971002486vw , 1.5rem )) {
    ul li {
      font-size: clamp( 1.125rem , 1.0028997514rem  +  0.4971002486vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0028997514rem  +  0.4971002486vw , 1.5rem )) {
    ul li {
      font-size: calc(1.125rem + 0.375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-right: clamp( 1.0625rem , 0.7979494615rem  +  1.0770505385vw , 1.875rem )) {
    ul li::before {
      margin-right: clamp( 1.0625rem , 0.7979494615rem  +  1.0770505385vw , 1.875rem );
    }
}

@supports not (margin-right: clamp( 1.0625rem , 0.7979494615rem  +  1.0770505385vw , 1.875rem )) {
    ul li::before {
      margin-right: calc(1.0625rem + 0.8125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    .pagination a {
      font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    .pagination a {
      font-size: calc(1.5rem + 0.75 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (width: clamp( 6.5625rem , 5.8705985915rem  +  2.8169014085vw , 8.6875rem )) {
    .logo--transparent {
      width: clamp( 6.5625rem , 5.8705985915rem  +  2.8169014085vw , 8.6875rem );
    }
}

@supports not (width: clamp( 6.5625rem , 5.8705985915rem  +  2.8169014085vw , 8.6875rem )) {
    .logo--transparent {
      width: calc(6.5625rem + 2.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-top: clamp( 3.0625rem , 2.390948633rem  +  2.734051367vw , 5.125rem )) {
    dl {
      padding-top: clamp( 3.0625rem , 2.390948633rem  +  2.734051367vw , 5.125rem );
    }
}

@supports not (padding-top: clamp( 3.0625rem , 2.390948633rem  +  2.734051367vw , 5.125rem )) {
    dl {
      padding-top: calc(3.0625rem + 2.0625 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3996996686rem  +  0.6628003314vw , 2.0625rem )) {
    dl {
      padding-left: clamp( 1.5625rem , 1.3996996686rem  +  0.6628003314vw , 2.0625rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3996996686rem  +  0.6628003314vw , 2.0625rem )) {
    dl {
      padding-left: calc(1.5625rem + 0.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    dt {
      font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2557995029rem  +  0.9942004971vw , 2.25rem )) {
    dt {
      font-size: calc(1.5rem + 0.75 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    dd {
      font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    dd {
      font-size: calc(1rem + 0.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (width: clamp( 5.0625rem , 3.4548467274rem  +  6.5451532726vw , 10rem )) {
    .header__logo {
      width: clamp( 5.0625rem , 3.4548467274rem  +  6.5451532726vw , 10rem );
    }
}

@supports not (width: clamp( 5.0625rem , 3.4548467274rem  +  6.5451532726vw , 10rem )) {
    .header__logo {
      width: calc(5.0625rem + 4.9375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (height: clamp( 6.5rem , 4.4446458161rem  +  8.3678541839vw , 12.8125rem )) {
    .header__logo {
      height: clamp( 6.5rem , 4.4446458161rem  +  8.3678541839vw , 12.8125rem );
    }
}

@supports not (height: clamp( 6.5rem , 4.4446458161rem  +  8.3678541839vw , 12.8125rem )) {
    .header__logo {
      height: calc(6.5rem + 6.3125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.5697493786rem  +  1.2427506214vw , 2.8125rem )) {
    .header__phone {
      margin-top: clamp( 1.875rem , 1.5697493786rem  +  1.2427506214vw , 2.8125rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.5697493786rem  +  1.2427506214vw , 2.8125rem )) {
    .header__phone {
      margin-top: calc(1.875rem + 0.9375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-top: clamp( 5rem , 4.185998343rem  +  3.314001657vw , 7.5rem )) {
    .header__social {
      margin-top: clamp( 5rem , 4.185998343rem  +  3.314001657vw , 7.5rem );
    }
}

@supports not (margin-top: clamp( 5rem , 4.185998343rem  +  3.314001657vw , 7.5rem )) {
    .header__social {
      margin-top: calc(5rem + 2.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 2.935998343rem  +  3.314001657vw , 6.25rem )) {
    .menu ul {
      margin-bottom: clamp( 3.75rem , 2.935998343rem  +  3.314001657vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.935998343rem  +  3.314001657vw , 6.25rem )) {
    .menu ul {
      margin-bottom: calc(3.75rem + 2.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem )) {
    .menu a {
      font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem )) {
    .menu a {
      font-size: calc(1.125rem + 1.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem )) {
    .menu address {
      font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7586992543rem  +  1.4913007457vw , 2.25rem )) {
    .menu address {
      font-size: calc(1.125rem + 1.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-top: clamp( 7.8125rem , 5.8792460646rem  +  7.8707539354vw , 13.75rem )) {
    .menu__body {
      padding-top: clamp( 7.8125rem , 5.8792460646rem  +  7.8707539354vw , 13.75rem );
    }
}

@supports not (padding-top: clamp( 7.8125rem , 5.8792460646rem  +  7.8707539354vw , 13.75rem )) {
    .menu__body {
      padding-top: calc(7.8125rem + 5.9375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-top: clamp( 3.75rem , 5.4070008285rem  +  -1.6570008285vw , 5rem )) {
    .footer {
      padding-top: clamp( 3.75rem , 5.4070008285rem  +  -1.6570008285vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 5.4070008285rem  +  -1.6570008285vw , 5rem )) {
    .footer {
      padding-top: calc(5rem + -1.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-bottom: clamp( 5.9375rem , 4.4112468931rem  +  6.2137531069vw , 10.625rem )) {
    .footer {
      padding-bottom: clamp( 5.9375rem , 4.4112468931rem  +  6.2137531069vw , 10.625rem );
    }
}

@supports not (padding-bottom: clamp( 5.9375rem , 4.4112468931rem  +  6.2137531069vw , 10.625rem )) {
    .footer {
      padding-bottom: calc(5.9375rem + 4.6875 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    .footer__copy {
      font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9185998343rem  +  0.3314001657vw , 1.25rem )) {
    .footer__copy {
      font-size: calc(1rem + 0.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-top: clamp( 3.375rem , 2.2353976802rem  +  4.6396023198vw , 6.875rem )) {
    .footer__copy {
      margin-top: clamp( 3.375rem , 2.2353976802rem  +  4.6396023198vw , 6.875rem );
    }
}

@supports not (margin-top: clamp( 3.375rem , 2.2353976802rem  +  4.6396023198vw , 6.875rem )) {
    .footer__copy {
      margin-top: calc(3.375rem + 3.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-top: clamp( 11.125rem , 8.6422949461rem  +  10.1077050539vw , 18.75rem )) {
    .intro {
      padding-top: clamp( 11.125rem , 8.6422949461rem  +  10.1077050539vw , 18.75rem );
    }
}

@supports not (padding-top: clamp( 11.125rem , 8.6422949461rem  +  10.1077050539vw , 18.75rem )) {
    .intro {
      padding-top: calc(11.125rem + 7.625 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (max-width: clamp( 20.625rem , 16.1479908865rem  +  18.2270091135vw , 34.375rem )) {
    .intro__info {
      max-width: clamp( 20.625rem , 16.1479908865rem  +  18.2270091135vw , 34.375rem );
    }
}

@supports not (max-width: clamp( 20.625rem , 16.1479908865rem  +  18.2270091135vw , 34.375rem )) {
    .intro__info {
      max-width: calc(20.625rem + 13.75 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (width: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem )) {
    .intro__img {
      width: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem );
    }
}

@supports not (width: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem )) {
    .intro__img {
      width: calc(17.125rem + 15.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (height: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem )) {
    .intro__img {
      height: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem );
    }
}

@supports not (height: clamp( 17.125rem , 12.0781897266rem  +  20.5468102734vw , 32.625rem )) {
    .intro__img {
      height: calc(17.125rem + 15.5 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem )) or (column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem ))) {
    .partners__item {
      -webkit-column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem );
         -moz-column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem );
              column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem )) or (column-gap: clamp( 0.9375rem , -0.2835024855rem  +  4.9710024855vw , 4.6875rem ))) {
    .partners__item {
      -webkit-column-gap: calc(0.9375rem + 3.75 * (100vw - 24.5625rem) / 75.4375);
         -moz-column-gap: calc(0.9375rem + 3.75 * (100vw - 24.5625rem) / 75.4375);
              column-gap: calc(0.9375rem + 3.75 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7528997514rem  +  0.4971002486vw , 2.25rem )) {
    .partners__item strong {
      font-size: clamp( 1.875rem , 1.7528997514rem  +  0.4971002486vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7528997514rem  +  0.4971002486vw , 2.25rem )) {
    .partners__item strong {
      font-size: calc(1.875rem + 0.375 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem )) {
    .artice-path {
      padding-top: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0464995857rem  +  0.8285004143vw , 1.875rem )) {
    .artice-path {
      padding-top: calc(1.25rem + 0.625 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.4607497929rem  +  0.4142502071vw , 1.875rem )) {
    .artice-path {
      padding-bottom: clamp( 1.5625rem , 1.4607497929rem  +  0.4142502071vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.4607497929rem  +  0.4142502071vw , 1.875rem )) {
    .artice-path {
      padding-bottom: calc(1.5625rem + 0.3125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.9214995857rem  +  0.8285004143vw , 3.75rem )) {
    .artice-path {
      margin-bottom: clamp( 3.125rem , 2.9214995857rem  +  0.8285004143vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.9214995857rem  +  0.8285004143vw , 3.75rem )) {
    .artice-path {
      margin-bottom: calc(3.125rem + 0.625 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem )) {
    .artice-path a {
      font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem )) {
    .artice-path a {
      font-size: calc(1.125rem + 0.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (max-height: clamp( 15.25rem , 12.3195940348rem  +  11.9304059652vw , 24.25rem )) {
    .article__top-image {
      max-height: clamp( 15.25rem , 12.3195940348rem  +  11.9304059652vw , 24.25rem );
    }
}

@supports not (max-height: clamp( 15.25rem , 12.3195940348rem  +  11.9304059652vw , 24.25rem )) {
    .article__top-image {
      max-height: calc(15.25rem + 9 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 4.125rem , 2.7615472245rem  +  5.5509527755vw , 8.3125rem )) {
    .article__top-image {
      margin-bottom: clamp( 4.125rem , 2.7615472245rem  +  5.5509527755vw , 8.3125rem );
    }
}

@supports not (margin-bottom: clamp( 4.125rem , 2.7615472245rem  +  5.5509527755vw , 8.3125rem )) {
    .article__top-image {
      margin-bottom: calc(4.125rem + 4.1875 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 6.5625rem , 6.1554991715rem  +  1.6570008285vw , 7.8125rem )) {
    .article p:last-child {
      margin-bottom: clamp( 6.5625rem , 6.1554991715rem  +  1.6570008285vw , 7.8125rem );
    }
}

@supports not (margin-bottom: clamp( 6.5625rem , 6.1554991715rem  +  1.6570008285vw , 7.8125rem )) {
    .article p:last-child {
      margin-bottom: calc(6.5625rem + 1.25 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem )) {
    .contacts__info address {
      font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0842999171rem  +  0.1657000829vw , 1.25rem )) {
    .contacts__info address {
      font-size: calc(1.125rem + 0.125 * (100vw - 24.5625rem) / 75.4375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6714995857rem  +  0.8285004143vw , 2.5rem )) {
    .contacts__info address {
      margin-bottom: clamp( 1.875rem , 1.6714995857rem  +  0.8285004143vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6714995857rem  +  0.8285004143vw , 2.5rem )) {
    .contacts__info address {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 24.5625rem) / 75.4375);
    }
}
}

@media (max-width: 96.25em) and (min-width: 100em) {
  .menu__body {
    width: 31.25rem;
  }
}

@media (max-width: 96.25em) and (min-width: 24.5625em) and (max-width: 100em) {
@supports (width: clamp( 17.125rem , 12.5258906379rem  +  18.7241093621vw , 31.25rem )) {
    .menu__body {
      width: clamp( 17.125rem , 12.5258906379rem  +  18.7241093621vw , 31.25rem );
    }
}

@supports not (width: clamp( 17.125rem , 12.5258906379rem  +  18.7241093621vw , 31.25rem )) {
    .menu__body {
      width: calc(17.125rem + 14.125 * (100vw - 24.5625rem) / 75.4375);
    }
}
}

@media (min-width: 62em) and (max-width: 96.25em) {
@supports (margin-top: clamp( 0.0000000625rem , -11.3138684375rem  +  18.248175vw , 6.25rem )) {
    .intro__info {
      margin-top: clamp( 0.0000000625rem , -11.3138684375rem  +  18.248175vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 0.0000000625rem , -11.3138684375rem  +  18.248175vw , 6.25rem )) {
    .intro__info {
      margin-top: calc(0.0000000625rem + 6.2499999375 * (100vw - 62rem) / 34.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -18.7810217222rem  +  30.2919706204vw , 10.375rem )) {
    .intro__img {
      margin-right: clamp( 0.0000000625rem , -18.7810217222rem  +  30.2919706204vw , 10.375rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -18.7810217222rem  +  30.2919706204vw , 10.375rem )) {
    .intro__img {
      margin-right: calc(0.0000000625rem + 10.3749999375 * (100vw - 62rem) / 34.25);
    }
}

@supports (gap: clamp( 2.5rem , -9.9452554745rem  +  20.0729927007vw , 9.375rem )) {
    .about__info {
      gap: clamp( 2.5rem , -9.9452554745rem  +  20.0729927007vw , 9.375rem );
    }
}

@supports not (gap: clamp( 2.5rem , -9.9452554745rem  +  20.0729927007vw , 9.375rem )) {
    .about__info {
      gap: calc(2.5rem + 6.875 * (100vw - 62rem) / 34.25);
    }
}

@supports (gap: clamp( 1.25rem , -7.8010948905rem  +  14.598540146vw , 6.25rem )) {
    .ranked__items {
      gap: clamp( 1.25rem , -7.8010948905rem  +  14.598540146vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -7.8010948905rem  +  14.598540146vw , 6.25rem )) {
    .ranked__items {
      gap: calc(1.25rem + 5 * (100vw - 62rem) / 34.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -8.4854012842rem  +  13.6861312044vw , 4.6875rem )) {
    .ranked__items {
      margin-right: clamp( 0.0000000625rem , -8.4854012842rem  +  13.6861312044vw , 4.6875rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -8.4854012842rem  +  13.6861312044vw , 4.6875rem )) {
    .ranked__items {
      margin-right: calc(0.0000000625rem + 4.6874999375 * (100vw - 62rem) / 34.25);
    }
}

@supports (width: clamp( 10.5625rem , 6.6026459854rem  +  6.3868613139vw , 12.75rem )) {
    .ranked__img:first-child {
      width: clamp( 10.5625rem , 6.6026459854rem  +  6.3868613139vw , 12.75rem );
    }
}

@supports not (width: clamp( 10.5625rem , 6.6026459854rem  +  6.3868613139vw , 12.75rem )) {
    .ranked__img:first-child {
      width: calc(10.5625rem + 2.1875 * (100vw - 62rem) / 34.25);
    }
}

@supports (width: clamp( 15.3125rem , 3.5460766423rem  +  18.9781021898vw , 21.8125rem )) {
    .ranked__img:last-child {
      width: clamp( 15.3125rem , 3.5460766423rem  +  18.9781021898vw , 21.8125rem );
    }
}

@supports not (width: clamp( 15.3125rem , 3.5460766423rem  +  18.9781021898vw , 21.8125rem )) {
    .ranked__img:last-child {
      width: calc(15.3125rem + 6.5 * (100vw - 62rem) / 34.25);
    }
}

@supports (gap: clamp( 1.25rem , -6.6697080292rem  +  12.7737226277vw , 5.625rem )) {
    .services__items {
      gap: clamp( 1.25rem , -6.6697080292rem  +  12.7737226277vw , 5.625rem );
    }
}

@supports not (gap: clamp( 1.25rem , -6.6697080292rem  +  12.7737226277vw , 5.625rem )) {
    .services__items {
      gap: calc(1.25rem + 4.375 * (100vw - 62rem) / 34.25);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 61.9375em) {
  .ranked__img:first-child {
    width: 12.75rem;
  }

  .ranked__img:last-child {
    width: 21.8125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 24.5625em) and (max-width: 61.9375em) {
@supports (width: clamp( 10.5625rem , 9.1248954849rem  +  5.8528428094vw , 12.75rem )) {
    .ranked__img:first-child {
      width: clamp( 10.5625rem , 9.1248954849rem  +  5.8528428094vw , 12.75rem );
    }
}

@supports not (width: clamp( 10.5625rem , 9.1248954849rem  +  5.8528428094vw , 12.75rem )) {
    .ranked__img:first-child {
      width: calc(10.5625rem + 2.1875 * (100vw - 24.5625rem) / 37.375);
    }
}

@supports (width: clamp( 15.3125rem , 11.0407608696rem  +  17.3913043478vw , 21.8125rem )) {
    .ranked__img:last-child {
      width: clamp( 15.3125rem , 11.0407608696rem  +  17.3913043478vw , 21.8125rem );
    }
}

@supports not (width: clamp( 15.3125rem , 11.0407608696rem  +  17.3913043478vw , 21.8125rem )) {
    .ranked__img:last-child {
      width: calc(15.3125rem + 6.5 * (100vw - 24.5625rem) / 37.375);
    }
}
}

@media (any-hover: hover) {
  ._button:hover {
    color: #E0B069;
    background-color: #9F2727;
  }

  .artice-path a:hover {
    text-decoration: none;
  }
}


